/*
 * Empty Stylesheet file.
 */

    
    .vbox-custom{
        
        -fx-background-image: url("resources/bgf1.png"); 
        -fx-background-repeat: stretch;
    } 

    .start-custom{
        -fx-graphic: url("resources/start.png");
        -fx-background-color: transparent;
        -fx-scale-x: 0.9;
        -fx-scale-y: 0.9;
        -fx-scale-z: 0.9;
    }
    .start-custom:hover{
        -fx-scale-x: 1;
        -fx-scale-y: 1;
        -fx-scale-z: 1;
    }
    
    
    .settings-custom{
        -fx-graphic: url("resources/settings.png");
        -fx-background-color: transparent;
        -fx-scale-x: 0.9;
        -fx-scale-y: 0.9;
        -fx-scale-z: 0.9;
    }
    .settings-custom:hover{
        -fx-scale-x: 1;
        -fx-scale-y: 1;
        -fx-scale-z: 1;
    }
    

    .quit-custom{
        -fx-graphic: url("resources/quit.png");
        -fx-background-color: transparent;
        -fx-scale-x: 0.9;
        -fx-scale-y: 0.9;
        -fx-scale-z: 0.9;
    }
    
    .quit-custom:hover{
        -fx-scale-x: 1;
        -fx-scale-y: 1;
        -fx-scale-z: 1;
    }

    .configA{
        -fx-graphic: url("resources/ControlsA.png");
        -fx-background-color: transparent;
        -fx-scale-x: 0.9;
        -fx-scale-y: 0.9;
        -fx-scale-z: 0.9;
        
    }
    
    .configA:hover{
        -fx-scale-x: 1;
        -fx-scale-y: 1;
        -fx-scale-z: 1;
    }
    
    .configB{
        -fx-graphic: url("resources/ControlsB.png");
        -fx-background-color: transparent;
        -fx-scale-x: 0.9;
        -fx-scale-y: 0.9;
        -fx-scale-z: 0.9;
        
    }
    
    .configB:hover{
        -fx-scale-x: 1;
        -fx-scale-y: 1;
        -fx-scale-z: 1;
    }
    
    .cago-custom{
        -fx-graphic: url("resources/menu.png");
        -fx-background-color: transparent;
        -fx-scale-x: 0.9;
        -fx-scale-y: 0.9;
        -fx-scale-z: 0.9;
    }
    
    .cago-custom:hover{
        -fx-scale-x: 1;
        -fx-scale-y: 1;
        -fx-scale-z: 1;
    }
    
    .retry-custom{
        -fx-graphic: url("resources/retry.png");
        -fx-background-color: transparent;
        -fx-scale-x: 0.9;
        -fx-scale-y: 0.9;
        -fx-scale-z: 0.9;
    }
    
    .retry-custom:hover{
        -fx-scale-x: 1;
        -fx-scale-y: 1;
        -fx-scale-z: 1;
    }
    
    .title-custom{
        -fx-background-color: red;
    }