/*
 * Empty Stylesheet file.
 */


    
    .vbox-custom{
        
        -fx-background-image: url("resources/bgf1.png"); 
        -fx-background-repeat: stretch;
    } 

    .start-custom{
        -fx-graphic: url("resources/Startbutton.png");
        -fx-background-color: transparent;
    }
    .start-custom:hover{
      
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    }
    

    .quit-custom{
        -fx-graphic: url("resources/Quitbutton.png");
        -fx-background-color: transparent;
    }
    
    .quit-custom:hover{
      
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    }

    .title-custom{
        -fx-background-color: red;
    }